
body {
    margin: 0;
    background: #F6F7F8;
}



:root {
    font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
    :root {
        font-family: 'Inter var', sans-serif;
    }
}

.logo-page {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-sign-up {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-page img {
    animation-name: move-and-scale;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    z-index: 5;

}

.login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    position: absolute;
    width: 650px;
    height: 500px;
    background: rgb(255, 255, 255);
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 0px 14px 3px;
    border-radius: 2rem;
}

.forgot-pw-page {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.logo-page-background {
    background-color: #F6F7F8;
    animation-name: fade-background;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 4;
    transition: z-index 1s ease-in-out;
}

.info-background {
    position: absolute;
    animation-name: fade-background1;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    height: 100vh;
    width: 100vw;
    z-index: 5;
    transition: z-index 1s ease-in-out;
}

.info-image {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    animation: slideAndDisappear 2s forwards;
    z-index: 9999;
    /* Hoher z-index-Wert */
}

@keyframes slideAndDisappear {
    0% {
        transform: translateX(-50%) translateY(100%);
        opacity: 1;
    }

    50% {
        transform: translateX(-50%) translateY(-600%);
        opacity: 1;
    }

    100% {
        transform: translateX(-50%) translateY(-600%);
        opacity: 0;
    }
}

@keyframes fade-background1 {
    from {
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 5;
    }

    to {
        background-color: transparent;
        z-index: 0;
    }
}





.logo-page-background:hover {
    z-index: 0;
}

.login-font{
    font-size: 3.8rem;
}

.forgotmypwFont{
    font-size: 3.8rem;
}

.resetPwFont{
    font-size: 3.0rem;
}

.signInFont{
    font-size: 3.8rem;
}

.title-container span {
    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
    text-align: center;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
    height: 12vh;
    display: flex;
    align-items: center;
}


.title-container {
    border-bottom: 3px solid #29ABE2;
    width: 165px;
    height: 115px;
    display: flex;
    justify-content: center;
    align-items: center;
}



@keyframes move-and-scale {
    from {
        transform: translate(0, 0) scale(1);
    }

    to {
        transform: translate(-42vw, -39vh) scale(0.4);
    }
}

@keyframes fade-background {
    from {
        background-color: #F6F7F8;
        z-index: 4;
    }

    to {
        background-color: transparent;
        z-index: 0;
    }
}

.login-input {
    display: flex;
    flex-direction: column;
    gap: 2rem;

}

::placeholder {
    color: #D1D1D1;
    padding-left: 0.5rem;
}

.login-input input {
    width: 400px;
    height: 40px;
    border-radius: 0.5rem;
    border: 1px solid #D1D1D1;
}

.input-mail {
    background-image: url('/img/mail-icon.png');
    background-position: right center;
    background-repeat: no-repeat;
    padding-right: 0.5rem;
    background-origin: content-box;
    padding-left: 0.5rem;
}

.input-name {
    background-image: url('/img/profile-icon.png');
    background-position: right center;
    background-repeat: no-repeat;
    padding-right: 0.5rem;
    background-origin: content-box;
    padding-left: 0.5rem;
}

.keyIMG{
    animation-name: unset !important;
    animation-duration: unset !important;
    animation-timing-function: unset !important;
    animation-fill-mode: unset !important;
    position: absolute;
    right: 7.8rem;
    margin-top: 0.8rem;
    cursor: pointer;
}


.input-key {
    background-position: right center;
    background-repeat: no-repeat;
    padding-right: 0.5rem;
    background-origin: content-box;
    padding-left: 0.5rem;
}

.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gap {
    gap: 4vw;
}

.gap-small {
    gap: 1rem;
}

.forgot-span {
    color: #29ABE2;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 120%;
    cursor: pointer;
}

.forgot-span :hover {
    border-bottom: 1px #29ABE2;
}

.remember-span {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 120%;
}

.log-btn {
    background: #2A3647;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 115px;
    height: 50px;
    color: #FFFFFF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    border: none;
    cursor: pointer;
}

.log-btn:hover {
    background-color: rgb(41, 171, 226);
    cursor: pointer;
}

.guest-log-btn {
    background: #FFFFFF;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 115px;
    height: 50px;
    color: #2A3647;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
}

.guest-log-btn:hover {
    background-color: rgb(41, 171, 226);
    cursor: pointer;
    color: white;
    border: unset;

}

.sign-up-container {
    display: flex;
    align-items: center;
    gap: 2rem;
    position: absolute;
    top: 60px;
    right: 70px;
}

.left-arrow-img {
    position: absolute;
    top: 2vh;
    left: 2vw;
    cursor: pointer;
    opacity: 1;
}

.left-arrow-img:hover{
    opacity: 0.3;
}

.login-input span {
    text-align: center;
}

.forgot-pw {
    width: 900px;
    height: 500px;
    justify-content: center;
}

.reset-pw {
    width: 650px;
    height: 500px;
    justify-content: center;
    font-size: 1rem;
}



.forgot-pw-btn {
    width: 203px;
    height: 40px;
}

.forgot-pw-input {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.forgot-pw-input input {
    width: 400px;
    height: 40px;
    border-radius: 0.5rem;
    border: 1px solid #D1D1D1;
}




@media only screen and (min-width: 320px) and (max-width: 767px) {
    .login-page {
        width: 86vw;
    }

    .forgotmypwFont{
        font-size: 1.8rem;
    }

    .resetPwFont{
        font-size: 1.7rem;
    }
    
    .signInFont{
        font-size: 3rem;
    }
    
    .keyIMG{
        right: 2rem;

            
    }
    

    .sign-up-container {
        bottom: 3vh;
        left: 50px;
        top: unset;
        right: unset;
        z-index: 999;
    }


    .log-btn {
        width: 40vw;
    }

    .guest-log-btn {
        width: 40vw;
    }

    .login-input input {
        width: 70vw;
    }


    .title-container {
        width: 25vw;
        height: 14vh;
    }

    .mobile-btn {
        width: 30vw;
    }

    .left-arrow-img {
        position: absolute;
        top: 3vh;
        left: 8vw;
    }

    .login-font{
        font-size: 3.8rem;
    }

    .forgot-pw-input {
        text-align: center;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .forgot-pw-input input {
        width: 70vw;
    }

    .forgot-pw-btn {
        width: 55vw;
        height: 6vh;
    }

    .pw-mobile {
        height: 6vh;
    }

    .reset-pw-mobile {

        font-family: 'Inter';
        font-style: normal;
        font-weight: bold;
        text-align: center;
        color: #000000;
        flex: none;
        order: 0;
        flex-grow: 0;
        height: 12vh;
        display: flex;
        align-items: center;
        font-size: 3rem;
    }

    @keyframes move-and-scale {

        0% {
            transform: translate(0, 0) scale(1);
        }

        100% {
            transform: translate(-34vw, -42vh) scale(0.2);
        }
    }

    .mobile-column{
        flex-direction: column-reverse;
    }

}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .forgot-pw {
        width: 730px;
        height: 500px;
    }
}

