body {
    background-color: rgb(246, 247, 248);
}

body::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

body::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}


.content {
    margin-left: 250px;
    margin-top: 100px;
}

.addTask-container {
    margin-left: 200px;
    margin-top: 200px;
    font-size: 22px;
}

.addTask-container span {
    margin-bottom: 8px;
}

.addTask-container input {
    font-size: 22px;
}

.addTask-container h1 {
    font-size: 48px;
}

.addTask-content {
    display: flex;
}

.addTask-leftSide {
    margin-right: 100px;
}

.addTask-leftSide div {
    display: flex;
    flex-direction: column;
}

.task-title input {
    padding: 12px 18px;
    min-width: 300px;
    border-radius: 10px;
    border: 1px solid lightgray;
    outline: none;
    margin-bottom: 32px;
    font-size: 22px;
}

.task-title input:hover{
    cursor: pointer;
    background-color: rgb(248, 248, 248);
} 

form {
    display: flex !important;
}


.task-description input {
    padding: 12px 18px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid lightgray;
    outline: none;
    min-width: 300px;
    font-size: 22px;
    margin-bottom: 32px;
}

.task-description input:hover{
    cursor: pointer;
    background-color: rgb(248, 248, 248);
}

.task-category select {
    padding: 12px 18px;
    border-radius: 10px;
    border: 1px solid lightgray;
    outline: none;
    min-width: 300px;
    font-size: 22px;
    margin-bottom: 32px;
}

.task-category select:hover{
    cursor: pointer;
    background-color: rgb(248, 248, 248);
}




#selectContacts:hover{
    cursor: pointer;
    background-color: rgb(248, 248, 248);
}

/*/ ------------- RIGHT SIDE ADD TASK CONTENT ---------------/*/

.addTask-rightSide {
    margin-left: 100px;
}



.addTask-rightSide div {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.task-date input {
    font-family: 'Inter', sans-serif;
    padding: 12px 18px;
    border-radius: 10px;
    min-width: 300px;
    border: 1px solid lightgray;
    outline: none;
}

.task-date input:hover{
    cursor: pointer;
    background-color: rgb(248, 248, 248);
}

.task-priority-buttons {
    flex-direction: row !important;
}

.task-subtasks input {
    padding: 12px 18px;
    border-radius: 10px;
    border: 1px solid lightgray;
    outline: none;
    min-width: 300px;
}

.task-subtasks input:hover{
    cursor: pointer;
    background-color: rgb(248, 248, 248);
}

.addSubtask-button:hover{
    cursor: pointer;
}

/*/ --------------- PRIO BUTTONS ----------- /*/
.task-priority-buttons {
    display: flex;
    justify-content: space-between;
    gap: 12px;
}

.task-priority-buttons button {
    padding: 8px;
    border-radius: 10px;
    border: 0.5px solid lightgray;
    background-color: white;
    min-width: 9.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.task-priority-buttons button:hover {
    cursor: pointer;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
    transform: translateY(-1px);
}

.task-priority-buttons button img {
    margin-left: 8px;
    height: 1.5vh;
    width: 1.5vh;
    object-fit: contain;
    padding: 4px 4px 4px 4px;
}

/*/------------------ CATEGORY-LOGO ( DESIGN ETC )  ----------------/*/

.categoryAddTask {
    height: 50px;
    width: 50px;
    border-radius: 100%;
}


/*/-------------------- CONTACTS SECTION ----------------------/*/

.contactsfield {
    background-color: white;
    max-height: 200px;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid grey;
    min-height: 50px;
}

.contactsfield:hover {
    cursor: pointer;
    background-color: rgb(240, 239, 239);
}

.contact-list-container {
    display: flex;
    flex-direction: row !important;
    align-items: center;
    font-size: 16px;
}

#assignedContacts {
    margin-top: 32px;
    display: block !important;
}


.addContact-button {
    padding: 12px;
    background-color: rgb(67, 80, 99);
    border: unset;
    color: white;
    margin-bottom: 32px;
}

.addContact-button:hover {
    cursor: pointer;
    background-color: rgb(92, 107, 129);
}

/*/-------------------------- SUBTASKS -------------------------------- /*/

#subtaskContainer {
    font-size: 16px;
}



.addSubtask-input-button{
    display: flex !important;
    flex-direction: row !;
}

/*/------------------------- CLEAR / CREATE TASK BUTTONS -----------------/*/
.addTask-buttons {
    display: flex !important;
    justify-content: flex-end;
    flex-direction: row !important;
    gap: 24px;
}

.clear-button {
    padding: 16px 24px;
    border-radius: 10px;
    border: unset;
    color: rgb(41,171,226);
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(41,171,226);
    font-weight: bold;
}

.clear-button:hover {
    cursor: pointer;
    background-color: rgb(41,171,226);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
    transform: translateY(-1px);
    color: white;
}

.clear-button img{
    vertical-align: middle;
    margin-left: 8px;
    
}

.create-task-button {
    padding: 16px 24px;
    border-radius: 10px;
    border: unset;
    background-color: rgb(67, 80, 99);
    color: white;
    font-weight: bold;

}

.create-task-button:hover {
    cursor: pointer;
    background-color: rgb(41,171,226);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
    transform: translateY(-1px);
}

.create-task-button img{
    vertical-align: middle;
    margin-left: 8px;
}
/*/--------------- CHECKBOX FOR CONTACTS-------------/*/

#assignedCheckboxContainer {
    max-height: 120px;
    overflow: auto;
    background-color: white;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
}

.border-bottom{
    border-bottom: 1px solid lightgray;;
}

.label {
    padding: 12px 18px;
}

.label:hover {
    background-color: lightgrey;
    cursor: pointer;
}

.d-none {
    display: none;
}

#selectContacts {
    background-color: white;
    padding: 12px 18px;
    border: 1px solid lightgray;
    outline: none;
    min-width: 300px;
    font-size: 22px;
}

#selectContacts:hover {
    cursor: pointer;
}

.bordernone {
    border-bottom: none !important;
}

#selectContacts:hover {
    cursor: pointer;
}

#assignedCheckboxContainer::-webkit-scrollbar{
    width: 8px;
}

#assignedCheckboxContainer::-webkit-scrollbar-thumb{
    border-radius: 3px;
    background-color: rgb(41,171,226);
}

/*/ ------------- ANIMATION TASK ADDED ---------------------- /*/
@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.slide-in-bottom {
    animation: slideInFromBottom 0.5s ease-out;
}

/*/ --------------------REPORT FOR ADDED TASK------------------- /*/
#successMessage {
    
    background-color: rgb(67, 80, 99);
    min-width: 350px;
    width: 400px;
    padding: 24px;
    color: white;
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.d-none {
    display: none;
}


.addedToBoard{
    height: 30px;
    width: 30px;
    object-fit: contain;
    vertical-align: middle;
    margin-left: 24px;
}

/*/--------------- MEDIA QUERRY -------------------------/*/

@media only screen and (max-width: 1500px) {
    form {
        display: unset !important;
    }

    form .line {
        display: none;
    }

    .addTask-leftSide {
        margin: unset !important;
    }

    .addTask-rightSide {
        margin: unset;
    }

    .task-assigned {
        margin-bottom: 32px;
    }

    .task-date {
        margin-bottom: 32px !important;
    }

    #successMessage{
        left: 60%;
    }
}

@media only screen and (max-width: 1200px) {
.task-priority-buttons button {
    min-width: 9.5vh;
    padding: 6px;
}
}

@media only screen and (max-width: 1000px) {
    #successMessage{
        left: 65%;
    }
}

@media only screen and (max-width: 930px) {
    .addTask-container {
        margin-left: 100px;
        
    }

   
}

@media only screen and (max-width: 800px) {

    .addTask-container {
        margin-left: unset !important;
        margin-bottom: 100px !important;  
        margin-top: 100px !important;
    }

    .content {
        margin-left: 200px !important;
    }


    #successMessage{
        left: 50%;
    }
}

@media only screen and (max-width: 700px) {
    .content {
        margin-left: 150px !important;
    }
}

@media only screen and (max-width: 650px) {

    .content {
        margin-left: 100px !important;
    }
}

@media only screen and (max-width: 600px) {

    .content {
        margin-left: 50px !important;
    }
    .addTask-buttons{
    justify-content: space-around;
    }
}

@media only screen and (max-width: 500px) {
    #successMessage{
        width: 200px;
    }

}

@media only screen and (max-width: 480px) {
    .addTask-leftSide input {
        width: 150px;
    }

    .task-date {
        width: 150px;
    }

    .task-priority {
        min-width: 150px;
    }

    .addTask-leftSide,
    .addTask-rightSide {
        margin: 0;
    }

    .task-title,
    .task-description,
    .task-category,
    .task-assigned,
    .task-date,
    .task-priority {
        margin-bottom: 16px;
    }
}



@media only screen and (max-width: 420px) {
    .content{
        margin-left: 15px !important;
        margin-bottom: 90px !important;
    }
    label input{
        width: unset !important;
    }
}



@media only screen and (max-width: 360px) {
    .content{
        margin-left: 5px !important;
        margin-right: 5px !important;
    }

    .addTask-leftSide input, .addTask-rightSide input{
        width: 90vw;
        padding: 0;
        min-width: unset;
    }

    .task-title{
        width: 90vw;
        padding: 0;
    }

    .task-title input{ 
        min-width: unset;
    }

    .addTask-leftSide, .addTask-rightSide {
        width: 90vw;
    }

    #selectContacts {
        min-width: unset;
        padding: 0;
        width: 90vw;
    }

    .task-category select {
        width: 90vw;
        min-width: unset;
    }

    .task-priority {
        width: 90vw;
        min-width: none;
    }

    .addSubtask-button{
        width: 90vw;
    }

    .task-description input {
        min-width: unset;
    }
}