body {
    background-color: rgb(246, 247, 248);
}

.content {
    margin-left: 250px;
    margin-top: 100px;
}

.addTask-container {
    margin-left: 200px;
    margin-top: 200px;
    font-size: 22px;
}

.addTask-container span {
    margin-bottom: 8px;
}

.addTask-container input {
    font-size: 22px;
}

.addTask-container h1 {
    font-size: 48px;
}

.addTask-content {
    display: flex;
}

.addTask-leftSide {
    margin-right: 100px;
}

.addTask-leftSide div {
    display: flex;
    flex-direction: column;
}

.task-title input {
    padding: 12px 18px;
    min-width: 300px;
    border-radius: 10px;
    border: 1px solid lightgray;
    outline: none;
    margin-bottom: 32px;
}

form {
    display: flex !important;
}


.task-description input {
    padding: 12px 18px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid lightgray;
    outline: none;
    min-width: 300px;
    font-size: 22px;
    margin-bottom: 32px;
}

.task-category select {
    padding: 12px 18px;
    border-radius: 10px;
    border: 1px solid lightgray;
    outline: none;
    min-width: 300px;
    font-size: 22px;
    margin-bottom: 32px;
}

.task-category select:hover {
    cursor: pointer;
}

.task-assigned select {
    padding: 12px 18px;
    border-radius: 10px;
    border: 1px solid lightgray;
    outline: none;
    min-width: 300px;
    font-size: 22px;
}


/*/ ------------- RIGHT SIDE ADD TASK CONTENT ---------------/*/

.addTask-rightSide {
    margin-left: 100px;
}



.addTask-rightSide div {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.task-date input {
    padding: 12px 18px;
    border-radius: 10px;
    min-width: 300px;
    border: 1px solid lightgray;
    outline: none;
}

.task-priority-buttons {
    flex-direction: row !important;
}

.task-subtasks input {
    padding: 12px 18px;
    border-radius: 10px;
    border: 1px solid lightgray;
    outline: none;
    min-width: 300px;
}

/*/ --------------- PRIO BUTTONS ----------- /*/
.task-priority-buttons {
    gap: 16px;
}

.task-priority-buttons button {
    padding: 10px 32px;
    border-radius: 10px;
    border: 0.5px solid lightgray;
    background-color: white;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
}

.task-priority-buttons button:hover {
    cursor: pointer;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
    transform: translateY(-1px);
}

.task-priority-buttons button img {
    margin-left: 8px;
}

/*/------------------ CATEGORY-LOGO ( DESIGN ETC )  ----------------/*/

.categoryAddTask {
    height: 50px;
    width: 50px;
    border-radius: 100%;
}

.design {
    background-color: blue;
}

/*/-------------------- CONTACTS SECTION ----------------------/*/

.contactsfield {
    background-color: white;
    max-height: 200px;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid grey;
    min-height: 50px;
}

.contactsfield:hover {
    cursor: pointer;
    background-color: rgb(240, 239, 239);
}

.contact-list-container {
    display: flex;
    flex-direction: row !important;
    align-items: center;
    font-size: 16px;
}

#assignedContacts {
    margin-top: 32px;
    display: block !important;
}


.addContact-button {
    padding: 12px;
    background-color: rgb(67, 80, 99);
    border: unset;
    color: white;
    margin-bottom: 32px;
}

.addContact-button:hover {
    cursor: pointer;
    background-color: rgb(92, 107, 129);
}

/*/-------------------------- SUBTASKS -------------------------------- /*/

#subtaskContainer {
    margin-top: 32px;
    font-size: 14px;
}

.addSubtask-button {
    padding: 12px 28px;
    border: unset;
    background-color: rgb(67, 80, 99);
    color: white;
}

.addSubtask-button:hover {
    cursor: pointer;
    background-color: rgb(92, 107, 129);
}

/*/------------------------- CLEAR / CREATE TASK BUTTONS -----------------/*/
.addTask-buttons {
    display: flex !important;
    justify-content: flex-end;
    flex-direction: row !important;
    gap: 24px;
}

.clear-button {
    padding: 12px 24px;
    border-radius: 10px;
}

.clear-button:hover {
    cursor: pointer;
    border: 1px solid aqua;
}

.create-task-button {
    padding: 12px 28px;
    border-radius: 10px;
    border: unset;
    background-color: rgb(67, 80, 99);
    color: white;
}

.create-task-button:hover {
    cursor: pointer;
    background-color: aqua;
}

/*/--------------- CHECKBOX FOR CONTACTS-------------/*/

#assignedCheckboxContainer {
    max-height: 120px;
    overflow: auto;
    background-color: white;
}

.label{
    padding: 12px 18px;
    border-left: 1px solid lightgray;
    border-right: 1px solid liughtgray;
}

.label:hover{
    background-color: lightgrey;
    cursor: pointer;
}

.d-none{
    display: none;
}

#testcontainer{
    background-color: white;
    padding: 12px 18px;
    border: 1px solid lightgray;
    outline: none;
    min-width: 300px;
    font-size: 22px;
}

#testcontainer:hover{
    cursor: pointer;
}

.bordernone{
    border-bottom: none !important;
}


/*/ ------------- ANIMATION TASK ADDED ---------------------- /*/
@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.slide-in-bottom {
    animation: slideInFromBottom 0.5s ease-out;
}

#successMessage {
    background-color: rgb(67, 80, 99);
    width: 400px;
    padding: 24px;
    color: white;
}

#successMessage img {
    height: 40px;
    width: 40px;
    border-radius: 8px;
    margin: 80px auto 30px;
    object-fit: cover;
    vertical-align: middle;
}




