#content {
    margin-left: 300px;
    margin-top: 150px;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(245, 245, 245);
}

@font-face {
    font-family: 'Open Sans', sans-serif;
    src: url(fonts/Open_Sans/static/OpenSans-Regular.ttf)
}


.dsp-none {
    display: none !important;
}

#addNewTask {
    z-index: 9999999;
    display: flex;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5)
}

.addNewTaskBackground {
    background-color: white;
    padding: 100px;
    border-radius: 30px;
    height: fit-content;
    width: fit-content;
}

#addNewTaskClose {
    display: flex;
    justify-content: flex-end;
}


.board-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 100px;
    margin-left: 50px;
    margin-bottom: 50px;
}

.board-header h1 {
    font-size: 55px;
}

.find-task {
    border: 2px solid lightgrey;
    border-radius: 10px;
    display: flex;
    align-items: center;
    background-color: white;
}

.find-task input {
    height: 25px;
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 20px;
}

.add-task-button {
    padding-left: 10px;
    background-color: rgb(42, 54, 71);
    color: white;
    font-size: 25px;
    border-radius: 10px;
    border: unset;
    margin-left: 30px;
}

.add-task-button:hover {
    background-color: rgb(41, 171, 226);
    cursor: pointer;
}

.interact {
    display: flex;
    height: 6vh;
}

/*/----------------------------- CONTACT ICON -------------------------/*/

.contactIcon {
    height: 30px;
    width: 30px;
    color: white;
    border-radius: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    margin-left: -6px;
    padding: 5px;
}

/*/--------------------------- KANBAN BOARD --------------------------/*/


.kanbanboard {
    display: flex;
    justify-content: space-around;
    margin-right: 100px;
    margin-left: 50px;
    flex-wrap: wrap;
}

.kanban {
    display: flex;
    flex-direction: column;
    min-width: 280px;
    max-width: 280px;
    padding: 24px;

}

.kanban-header {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 50px;
}

.kanban-header img {
    vertical-align: middle;
    margin-left: 5px;

}

.kanban-header img:hover {
    opacity: 0.5;
    cursor: pointer;
}

#to-do {
    min-height: 100%;
}

#in-progress {
    min-height: 100%;
}

#awaiting-feedback {
    min-height: 100%;
}

#done {
    min-height: 100%;
}

/*/------------------ TO DO DIV ------------/*/
.todo {
    padding: 20px 20px;
    min-height: 50px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 20px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
}

.todo:hover {
    cursor: pointer;
    transform: rotate(2deg);
    transition: 125ms;
}

/*/---------- DRAG AND DROP HIGHLIGHT --------/*/
.drag-area-highlight {
    background-color: rgb(214, 214, 214);
    border-radius: 10px;
    border: 3px dashed grey;
}


/*/----------------------- CATEGORY DIV ------------------- /*/
.category {
    padding: 12px 12px;
    max-width: 80px;
    height: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    color: white;
    margin-bottom: 12px;
    font-size: 16px;
    font-weight: bold;
}

.design {
    background-color: rgb(255, 122, 0);
}

.sales {
    background-color: rgb(252, 113, 255);
}

.media {
    background-color: rgb(255, 199, 1);
}

.marketing {
    background-color: rgb(0, 56, 255);
}

.backoffice {
    background-color: rgb(31, 215, 193);
}

.title {
    margin-bottom: 12px;
}

.description {

    margin-bottom: 12px;
}

/*/-------------------- ASSSIGNED DIV-----------------/*/

.space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.avatar-mustafa {
    height: 40px;
    width: 40px;
    background-color: red;
    border-radius: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#generateContactsHTML {
    margin-top: 24px;
}

/*/--------------------------- DISPLAY NONE --------------/*/

.d-none {
    display: none;
}

/*/ --------------------- PRIORITIES ------------------/*/

.urgent {
    background-color: rgb(255, 61, 0);
    padding: 12px 36px;
    width: 50px;
    height: 10px;
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

.urgent img {
    margin-left: 8px;
}

.medium {
    background-color: rgb(255, 177, 33);
    padding: 12px 36px;
    width: 50px;
    height: 10px;
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

.medium img {
    margin-left: 8px;
}

.low {
    background-color: rgb(75, 224, 45);
    padding: 12px 36px;
    width: 50px;
    height: 10px;
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

.low img {
    margin-left: 8px;
}

/*/------------------- OPEN TASK --------------/*/

#edit-task {
    width: 500px;
    position: fixed;
    top: 15%;
    left: 30%;
    background-color: white;
    padding: 32px;
    border-radius: 20px;
    font-size: 22px;
    min-height: 450px;
}

.close-task {
    display: flex;
    justify-content: flex-end;
}

.close-task img:hover {
    opacity: 0.6;
    cursor: pointer;
}

.blur {
    filter: blur(4px);
}

.assigned {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}



.assigned-avatar {
    margin-right: 12px;
}

.date {
    margin-bottom: 24px;
}

.priorities {
    margin-bottom: 24px;
    display: flex;
    align-items: center;
}

.priorities b {
    margin-right: 12px;
}

.assigned-to {
    margin-bottom: 24px;
}

.delete-edit-buttons {
    display: flex;
    justify-content: flex-end;
}

.edit-button {
    background-color: rgb(42, 54, 71);
    border: unset;
    height: 40px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.edit-button:hover {
    background-color: rgb(41, 171, 226);
    cursor: pointer;
}

.delete-button {
    width: 40px;
    height: 40px;
    background-color: white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-image: url(../img/delete.png);
    background-repeat: no-repeat;
    background-position: center;
}

.delete-button:hover {
    border: 1px solid rgb(41, 171, 226);
    cursor: pointer;
    border-color: rgb(41, 171, 226);
    background-image: url(../img/delete-hover.png);
}

.contactsOnBoard {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.nameOfAssigned {
    margin-left: 10px;
}

/*/ ------------------- EDIT TASK -----------------/*/
.edit-container .title-input input {
    height: 30px;
    border-radius: 10px;
    border: 0.5px solid lightgray;
    padding: 12px;
    font-size: 16px;
}

.edit-container .description-input input {
    height: 75px;
    border-radius: 10px;
    border: 0.5px solid lightgray;
    padding: 12px;
    font-size: 16px;
}

.edit-container .date-input input {
    height: 30px;
    border-radius: 10px;
    border: 0.5px solid lightgray;
    padding: 12px;
    font-size: 16px;
}

.edit-container .assigned-input select {
    height: 30px;
    border-radius: 10px;
    border: 0.5px solid lightgray;
    font-size: 16px;
}

.title-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;

}

.description-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.date-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.priority-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.assigned-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;

}

.save-changes-button {
    background-color: rgb(42, 54, 71);
    width: 50px;
    height: 30px;
    color: white;
    padding: 18px 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: unset;
}

.save-changes-button img {
    margin-left: 8px;
}

.save-changes-button:hover {
    background-color: rgb(41, 171, 226);
    cursor: pointer;
}

.save-changes-button-container {
    display: flex;
    justify-content: flex-end;
}

.edit-task-prio-buttons {
    display: flex;
    gap: 16px;
}

.edit-task-prio-buttons button {
    padding: 12px 24px;
    border-radius: 10px;
    border: 0.5px solid lightgray;
    background-color: white;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-task-prio-buttons button img {
    margin-left: 8px;
}

.edit-task-prio-buttons button:hover {
    cursor: pointer;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
    transform: translateY(-1px);
}

.urgent-background {
    background-color: rgb(255, 61, 0) !important;
    font-weight: bold;
    color: white;
}

.medium-background {
    background-color: rgb(255, 168, 0) !important;
    font-weight: bold;
    color: white;
}

.low-background {
    background-color: rgb(122, 226, 41) !important;
    font-weight: bold;
    color: white;
}

/*/---------------- OPEN TASK SUBTASK SECTION -------------/*/

.subtask-list {
    display: flex;
    flex-direction: column;
}

.subtask-list-container {
    display: flex;
    flex-direction: column;
}

.task-subtasks input {

    min-width: 30px;
}

/*/---------------- SUBTASK-------------/*/
.ladebalken {
    width: 160px;
    height: 10px;
    background-color: #f2f2f2;
    border-radius: 4px;
}

.loading-box {
    display: flex;
    align-items: center;
    width: 225px
}

.progress-bar {
    height: 10px;
    background-color: #29ABE2;
    border-radius: 4px;
    width: 0;
    transition: width 0.3s ease-in-out;
}

.task-count {
    font-size: 14px;
    font-weight: bold;
    color: #333;
}

/*/------------------ SAVED CHANGES REPORT --------------------/*/



@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.slide-in-bottom {
    animation: slideInFromBottom 0.5s ease-out;
}


#savedChanges {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 40%;
    background-color: rgb(67, 80, 99);
    width: 450px;
    padding: 24px;
    color: white;
    border-radius: 10px;
}

#savedChanges img {
    margin-left: 20px;
    height: 60px;
    width: 60px;
    object-fit: cover;
}

/*/--------------------------- MEDIA QUERRYS -----------------------------/*/


@media only screen and (max-width: 1500px) {
    #edit-task {
        width: 400px;
        top: 15%;
        left: 40%;
    }
}

@media only screen and (max-width: 1000px) {
    #edit-task {
        width: 350px;
    }
}

@media only screen and (max-width: 800px) {

    #edit-task {
        top: 15%;
        left: 25%;
    }

    .kanbanboard {
        display: flex;
        justify-content: center;
        margin-right: 0px;
        margin-left: 0px;
        flex-direction: column;
        align-items: center;
    }


    #content {
        margin-left: 0px;
        margin-top: 60px;
        padding-bottom: 80px;
    }

    .board-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 20px;
        flex-direction: column;
    }

}

@media only screen and (max-width: 700px) {
    #edit-task {
        top: 15%;
        left: 20%;
    }
}

@media only screen and (max-width: 600px) {
    #edit-task {
        width: 350px;
        top: 15%;
        left: 15%;
    }
}


@media only screen and (max-width: 530px) {
    #edit-task {
        width: 270px;
        top: 15%;
        left: 15%;
    }

    .edit-task-prio-buttons {
        gap: 6px;
    }

    .edit-task-prio-buttons button {
        width: 90px;
    }
}

@media only screen and (max-width: 450px) {
    #edit-task {
        width: 270px;
        top: 13%;
        left: 6%;
        font-size: 18px !important;
    }

    #edit-task h1 {
        font-size: 28px !important;
    }

    .contactIcon {
        height: 18px;
        width: 18px;
        font-size: 14px !important;
    }
}

@media only screen and (min-width: 801px) and (max-width:1045px) {
    .board-header {
        flex-direction: column;
    }
}