#content {
    margin-left: 300px;
    margin-top: 150px;
}

body{
    background-color: rgb(228, 228, 228);
}

#board-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 100px;
    margin-left: 50px;
    margin-bottom: 50px;
}

#board-header h1 {
    font-size: 55px;
}

.find-task {
    border: 2px solid lightgrey;
    border-radius: 10px;
    display: flex;
    align-items: center;
    background-color: white;
}

.find-task input {
    height: 25px;
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 20px;
}

.add-task-button {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    background-color: rgb(42, 54, 71);
    color: white;
    font-size: 25px;
    border-radius: 10px;
    border: unset;
    margin-left: 30px;
}

.add-task-button:hover {
    background-color: rgb(41,171,226);
    cursor: pointer;
}

.interact{
    display: flex;
}

/*/--------------------------- KANBAN BOARD --------------------------/*/


.kanbanboard{
    display: flex;
    justify-content: space-around;
    margin-right: 100px;
    margin-left: 50px;
}

.kanban{
    display: flex;
    flex-direction: column;
    min-width: 250px;
    max-width: 280px;
    padding: 24px;
   
}

.kanban-header{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 50px;
}

.kanban-header img{
    vertical-align: middle;
    margin-left: 5px;

}

.kanban-header img:hover{
    opacity: 0.5;
    cursor: pointer;
}

#to-do{
    min-height: 100%;
}

#in-progress{
    min-height: 100%;
}

#awaiting-feedback{
    min-height: 100%;
}

#done{
    min-height: 100%;
}

/*/------------------ TO DO DIV ------------/*/
.todo{
    padding: 20px 20px;
    min-height: 50px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 20px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
}

.todo:hover{
    cursor: pointer;
    
}

/*/---------- DRAG AND DROP HIGHLIGHT --------/*/
.drag-area-highlight{
    background-color: rgb(214, 214, 214);
    border-radius: 10px;
    border: 3px dashed grey;
}


/*/----------------------- CATEGORY DIV ------------------- /*/
.category{
    padding: 10px 16px;
    max-width: 80px;
    height: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    color: white;
    margin-bottom: 12px;
}

.yellow{
    background-color: orange;
}

.red{
    background-color: red;
}

.black{
    background-color: black;
}

.blue{
    background-color: blue;
}

.title{
    margin-bottom: 12px;
}

.description{
    color: gray;
    margin-bottom: 12px;
}
/*/-------------------- ASSSIGNED DIV-----------------/*/

.space-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.avatar-mustafa{
    height: 40px;
    width: 40px;
    background-color: red;
    border-radius: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*/--------------------------- DISPLAY NONE --------------/*/

.d-none{
    display: none;
}
/*/ --------------------- PRIORITIES ------------------/*/

.urgent{
    background-color: rgb(255,61,0);
    padding: 10px 24px;
    width: 50px;
    height: 10px;
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

.urgent-symbol{
    margin-left: 8px;
}

/*/------------------- OPEN TASK --------------/*/

#edit-task{
    width: 400px;
    position: absolute;
    top: 30%;
    left: 30%;
    background-color: white;
    padding: 32px;
    border-radius: 20px;
}

.close-task{
    display: flex;
    justify-content: flex-end;
}

.close-task img:hover{
    opacity: 0.6;
    cursor: pointer;
}

.blur{
    filter: blur(4px);
}

.assigned{
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}



.assigned-avatar{
    margin-right: 12px;
}

.date{
    margin-bottom: 24px;
}

.priorities{
    margin-bottom: 24px;
    display: flex;
    align-items: center;
}

.priorities b{
    margin-right: 12px;
}

.assigned-to{
    margin-bottom: 24px;
}

.delete-edit-buttons{
    display: flex;
    justify-content: flex-end;
}

.edit-button{
    background-color: rgb(42, 54, 71);
    border: unset;
    height: 40px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.edit-button:hover{
    background-color: rgb(41,171,226);
    cursor: pointer;
}

.delete-button{
    width: 40px;
    height: 40px;
    background-color: white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-image: url(../img/delete.png);
    background-repeat: no-repeat;
    background-position: center;
}

.delete-button:hover{
    border: 1px solid rgb(41,171,226) ;
    cursor: pointer;
    border-color: rgb(41,171,226);
    background-image: url(../img/delete-hover.png);
}

/*/ ------------------- EDIT TASK -----------------/*/

.edit-container .title-input input{
    height: 35px;
    border-radius: 10px;
    border: 0.5px solid lightgray;
    padding: 12px;
}

.edit-container .description-input input{
    height: 75px;
    border-radius: 10px;
    border: 0.5px solid lightgray;
    padding: 12px;
}

.edit-container .date-input input{
    height: 35px;
    border-radius: 10px;
    border: 0.5px solid lightgray;
    padding: 12px;
}

.edit-container .assigned-input select{
    height: 35px;
    border-radius: 10px;
    border: 0.5px solid lightgray;
}

.title-input{
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;

}

.description-input{
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.date-input{
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.priority-input{
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.assigned-input{
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.save-changes-button{
    background-color: rgb(42,54,71);
    width: 50px;
    height: 30px;
    color: white;    
    padding: 18px 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: unset;
}

.save-changes-button:hover{
    background-color: rgb(41,171,226);
}

.save-changes-button-container{
    display: flex;
    justify-content: flex-end;
}