
    <div id="topbar-template">
        <div>
        <p>Kanban Project Management Tool</p>
        </div>


        <div id="log-out-section">
            <a class="questionmark" href="../datenschutz/datenschutz.html">
                <img class="questionmark" src="../img/questionmark.png">
            </a>
            
            <img onclick="logOut()" class="avatar" src="../img/avatar.png">

            <div id="logOut" class="logOut d-none">
                <a href="../index.html"> Log out </a>
            </div>
        </div>
    </div>

    <div id="sidebar-template">

        <div class="sidebar-top">
            <img src="../img/join-logo.png">
        </div>

        <div class="sidebar-middle">
            <a class="summary" href="../summary/summary.html">
                <div class="summary-picture">
                <img src="../img/summary-icon.png">
                Summary
                </div>
            </a>

            <a class="board" href="../board/board.html">
                <div class="board-picture">
                <img src="../img/board-icon.png">
                Board
                </div>
            </a>

            <a class="addTask" href="../addtask/addtask.html">
                <div class="addTask-picture">
                <img src="../img/addtask-icon.png">
                Add Task
                </div>
            </a>

            <a class="contacts" href="../contacts/contacts.html">
                <div class="contacts-picture">
                <img src="../img/contacts-icon.png">
                Contacts
                </div>
            </a>
        </div>

        <div class="sidebar-bottom">
            <a class="datenschutz" href="../datenschutz/datenschutz.html">
                <div class="datenschutz-picture">
                <img src="../img/datenschutzerklärung-icon.png">
                Legal Notice
                </div>
            </a>
        </div>

    </div>

    <!-- *********************** MOBILE *********************** --> 

    <div id="topbar-mobile">
        <div>
            <img src="../img/logo-dark.png" alt="">
        </div>
        <div id="mobileMenu">
            <img onclick="openMenu()" class="avatar" src="../img/avatar.png">
        </div>
        <div id="mobileMenuPopup" class="logOutMobile d-none">
            <a href="../help/help.html"> Help </a>
            <a href="../datenschutz/datenschutz.html"> Legal notice</a>
            <a onclick="logOut()" href="../index.html">Log out</a>
        </div>
    </div>
    <div>
        <p id="mobileProjectInfo" class="mobileProjectInfo">Kanban Project Management Tool</p>
    </div>
  
   

    <div class="sidebar-mobile">
        <a class="mobileTab" href="../summary/summary.html">
            <div class="summary-picture">
                <img src="../img/summary-icon.png">     
                <h3>Summary</h3>
            </div>
        </a>

        <a class="mobileTab" href="../board/board.html">
            <div class="board-picture">
                <img src="../img/board-icon.png">
                <h3>Board</h3>
            </div>
        </a>

        <a class="mobileTab" href="../addtask/addtask.html">
            <div class="addTask-picture">
                <img src="../img/addtask-icon.png">
                <h3>Add Task</h3>
            </div>
        </a>

        <a class="mobileTab" href="../contacts/contacts.html">
            <div class="contacts-picture">
                <img src="../img/contacts-icon.png">
                <h3>Contacts</h3>
            </div>
        </a>
    </div>

