<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="desktop_template.css">
    <title>Join</title>
</head>

<body>

    <div id="topbar-template">
        <div>
        <p>Kanban Project Management Tool</p>
        </div>

        <div>
            <img src="/img/questionmark.png">
        </div>

        <div>
            <img> PROFIL-ICON 
        </div>
    </div>

    <div id="sidebar-template">

        <div class="sidebar-top">
            <img src="/img/join-logo.png">
        </div>

        <div class="sidebar-middle">
            <a class="summary" href="#">
                <div class="summary-picture">
                <img src="/img/summary-icon.png">
                </div>
                
                <div class="summary-string">
                Summary
                </div>
            </a>

            <a class="board" href="board.html">
                <div class="board-picture">
                <img src="/img/board-icon.png">
                </div>
                
                <div class="board-string">
                Board
                </div>
            </a>

            <a class="addTask" href="#">
                <div class="addTask-picture">
                <img src="/img/addtask-icon.png">
                </div>

                <div class="addTask-string">
                 Add Task
                </div>
            </a>

            <a class="contacts" href="../contacts/contacts.html">
                <div class="contacts-picture">
                <img src="/img/contacts-icon.png">
                </div>

                <div class="contacts-string">
                 Contacts
                </div>
            </a>
        </div>

        <div class="sidebar-bottom">
            <a class="datenschutz" href="/datenschutz.html">
                <div class="datenschutz-picture">
                <img src="/img/datenschutzerklärung-icon.png">
                </div>

                <div class="datenschutz-string">
                 Datenschutzerklärung
                </div>
            </a>
        </div>

    </div>

    <div>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia inventore reiciendis rerum voluptatum neque assumenda quos soluta accusantium excepturi natus dolorem fugiat, repellendus nemo possimus officiis eaque ut dolor eligendi.
    </div>
</body>

</html>