body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    height: 100%;
}

@font-face {
    font-family: 'Inter', sans-serif;
    src: url(fonts/inter/static/Inter-Regular.ttf)
}

#topbar-template {
    display: flex;
    height: 100px;
    justify-content: space-around;
    align-items: center;
    box-shadow: -2px 0px 6px 0px rgb(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 250px;
    right: 0;
    background-color: white;
    font-size: 22px;
}

#topbar-template .questionmark {
    vertical-align: middle;
    text-decoration: none;
}

#topbar-template .questionmark:hover {
    opacity: 0.7;
    cursor: pointer;
}

#topbar-template .avatar {
    vertical-align: middle;
    border-radius: 100%;
    margin-left: 15px ;
}

#topbar-template .avatar:hover {
    opacity: 0.7;
    cursor: pointer;
}

/*/-------------------- SIDEBAR TEMPLATE----------------/*/
#sidebar-template {
    background-color: rgb(42, 54, 71);
    min-height: 100%;
    width: 250px;
    font-size: 16px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

/*/------------------ SIDEBAR-TOP-------------------------/*/

.sidebar-top {
    display: flex;
    justify-content: center;
    padding: 80px;
}


/*/------------------ SIDEBAR-MIDDLE--------------------/*/
.sidebar-middle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 150px;
    gap: 20px;
}

.sidebar-middle a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
}

.sidebar-middle img {
    vertical-align: middle;
    margin-right: 5px;
}

/*/----------------- SUMMARY ( SIDEBAR MIDDLE ) -----------/*/
.summary {
    width: 250px;
    height: 42px;
}

.summary:hover {
    background-color: rgb(9, 25, 49);
    cursor: pointer;
}

.summary-picture {
    margin-left: 65px;
}

.summary:active{
    background-color: rgb(9, 25, 49);
}

/*/----------------- CONTACTS ( SIDEBAR MIDDLE ) -----------/*/
.contacts {
    width: 250px;
    height: 42px;
}

.contacts:hover {
    background-color: rgb(9, 25, 49);
    cursor: pointer;
}

.contacts-picture {
    margin-left: 65px;
}

/*/----------------- ADD TASK ( SIDEBAR MIDDLE ) -----------/*/
.addTask {
    width: 250px;
    height: 42px;
}

.addTask:hover {
    background-color: rgb(9, 25, 49);
    cursor: pointer;
}

.addTask-picture {
    margin-left: 65px;
}

/*/----------------- BOARD ( SIDEBAR MIDDLE ) -----------/*/
.board {
    width: 250px;
    height: 42px;
}

.board:hover {
    background-color: rgb(9, 25, 49);
    cursor: pointer;
}

.board-picture {
    margin-left: 65px;
}

.board:active {
    background-color: rgb(9, 25, 49);

}


/*/-------------------------- SIDEBAR-BOTTOM-------------/*/

.sidebar-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 150px;
    gap: 20px;
}

.sidebar-bottom img {
    vertical-align: middle;
    margin-right: 5px;
}

.sidebar-bottom a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
}


/*/-------------------------- DATENSCHUTZ ( SIDEBAR-BOTTOM ) -------------/*/
.datenschutz {
    width: 250px;
    height: 42px;
}

.datenschutz:hover {
    background-color: rgb(9, 25, 49);
    cursor: pointer;
}

.datenschutz-picture {
    margin-left: 25px;
}