html{
    margin: 0;  
}
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    height: 100%;
}

@font-face {
    font-family: 'Open Sans', sans-serif;
    src: url(fonts/Open_Sans/static/OpenSans-Regular.ttf)
}

#topbar-template {
    display: flex;
    height: 100px;
    justify-content: space-around;
    align-items: center;
    box-shadow: -2px 0px 6px 0px rgb(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 250px;
    right: 0;
    background-color: white;
    font-size: 22px;
}

#topbar-template .questionmark {
    vertical-align: middle;
    text-decoration: none;
}

#topbar-template .questionmark:hover {
    opacity: 0.7;
    cursor: pointer;
}

#topbar-template .avatar {
    vertical-align: middle;
    border-radius: 100%;
    margin-left: 15px ;
}

#topbar-template .avatar:hover {
    opacity: 0.7;
    cursor: pointer;
}

/*/-------------------- SIDEBAR TEMPLATE----------------/*/
#sidebar-template {
    background-color: rgb(42, 54, 71);
    min-height: 100%;
    width: 250px;
    font-size: 16px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

/*/------------------ SIDEBAR-TOP-------------------------/*/

.sidebar-top {
    display: flex;
    justify-content: center;
    padding: 80px;
}


/*/------------------ SIDEBAR-MIDDLE--------------------/*/
.sidebar-middle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    gap: 20px;
}

.sidebar-middle a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
}

.sidebar-middle img {
    vertical-align: middle;
    margin-right: 5px;
}

/*/----------------- SUMMARY ( SIDEBAR MIDDLE ) -----------/*/
.summary {
    width: 250px;
    height: 50px;
}

.summary:hover {
    background-color: rgb(9, 25, 49);
    cursor: pointer;
}

.summary-picture {
    margin-left: 65px;
}

.summary:active{
    background-color: rgb(9, 25, 49);
}

/*/----------------- CONTACTS ( SIDEBAR MIDDLE ) -----------/*/
.contacts {
    width: 250px;
    height: 50px;
}

.contacts:hover {
    background-color: rgb(9, 25, 49);
    cursor: pointer;
}

.contacts-picture {
    margin-left: 65px;
}

/*/----------------- ADD TASK ( SIDEBAR MIDDLE ) -----------/*/
.addTask {
    width: 250px;
    height: 50px;
}

.addTask:hover {
    background-color: rgb(9, 25, 49);
    cursor: pointer;
}

.addTask-picture {
    margin-left: 65px;
}

/*/----------------- BOARD ( SIDEBAR MIDDLE ) -----------/*/
.board {
    width: 250px;
    height: 50px;
}

.board:hover {
    background-color: rgb(9, 25, 49);
    cursor: pointer;
}

.board-picture {
    margin-left: 65px;
}

.board:active {
    background-color: rgb(9, 25, 49);

}


/*/-------------------------- SIDEBAR-BOTTOM-------------/*/

.sidebar-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 150px;
    gap: 20px;
}

.sidebar-bottom img {
    vertical-align: middle;
    margin-right: 5px;
}

.sidebar-bottom a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
}

/*/------------------- LOG OUT BUTTON --------------------/*/

.logOut{
    background-color:rgb(42,54,71);
    position: fixed;
    top: 100px;
    
    height: 50px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.logOut a{
    text-decoration: none;
    color: white;
}

.logOut:hover{
    background-color:rgb(60, 72, 90);
    cursor: pointer;
}

.d-none{
    display: none !important;
}
/*/------------------- LOG OUT BUTTON MOBILE--------------------/*/

.logOutMobile{
    background-color:rgb(42,54,71);
    position: fixed;
    top: 50px;
    right: 20px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.logOutMobile a{
    text-decoration: none;
    color: white;
    padding: 12px;
}

.logOutM.logOutMobile{
    background-color:rgb(60, 72, 90);
    cursor: pointer;
}


/*/-------------------------- DATENSCHUTZ ( SIDEBAR-BOTTOM ) -------------/*/
.datenschutz {
    width: 250px;
    height: 50px;
}

.datenschutz:hover {
    background-color: rgb(9, 25, 49);
    cursor: pointer;
}

.datenschutz-picture {
    margin-left: 60px;
}

/*/---------------- MOBILE QUERRYS----------------/*/

.sidebar-mobile{
    display: none;
    background-color: #333;
    position: fixed;
    bottom: 0;
    width: 100vw;
    background-color: rgb(42, 54, 71);
}
.sidebar-mobile img{
    width: 28px;
    height: 28px;
}
.sidebar-mobile a{
    text-decoration: none;
    color: white;
}
.sidebar-mobile a:hover{
    background-color: #091931;
}

#topbar-mobile{
    display: none;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    box-shadow: -2px 0px 6px 0px rgb(0, 0, 0, 0.2);
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    background-color: white;
    font-size: 22px;
    width: calc(100vw - 60px);  
    padding-right: 30px;
    padding-left: 30px;
    z-index: 120;

}
.mobileProjectInfo{
    display: none;
}



@media only screen and (max-width: 800px) {
    .addTask-picture{
        margin-left: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 8px;
    }
    .summary-picture{
        margin-left: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 8px;
    }
    .board-picture{
        margin-left: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 8px;
    }
    .contacts-picture{
        margin-left: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 8px;
    }
    .sidebar-mobile{
        z-index: 100;
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: fixed;
        bottom: 0px;
        left: 0px;
        /*top: calc(100vh - 100px);*/
        height: 100px;
    }
    .mobileTab{
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        gap:48px;
    }
    .mobileTab h3{
        margin: 0px;
        font-size: 16px;
        font-weight: 400;
    }
    #sidebar-template{
        display: none;
    }

    /*TOP BAR*/
    #topbar-template{   
       display: none;
    }
    #topbar-mobile{
        display: flex;
    }
    #topbar-mobile img{
        width: 32px;
    }
    .mobileProjectInfo{   
        z-index: 1;
        position: fixed;
        display: flex;
        justify-content: start;
        top: 50px;
        font-size: 18px;
        font-weight: 100;
        text-align: left;
        width: 100vw;
        margin: 0px;
        height: 50px;
        background-color: #F5F5F5;
        align-items: center;
        padding-left: 25px;
    }

   

}


/*/-------------- EVENT LISTENER FOR LINKS ------------/*/
.sidebar-middle a.active {
    background-color: darkblue;
  }
  
.sidebar-bottom a.active {
    background-color: darkblue;
  }