h3{
    margin: 0px;
}
.dsp-none{
    display: none;
}

#contacts{
    margin-top: 100px;
    margin-left: 250px;
    display: flex;
    flex-direction: row;
    height: calc(100vh - 100px - 24px); /* 100px Header 24px Padding-Top Contact List */
    /*sfont-family: 'Inter', sans-serif;  /*FOR TEST*/
}
#contactList{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
    padding-top: 24px;
    background: #FFFFFF;
    box-shadow: 4px 0px 6px rgba(0, 0, 0, 0.08);
    z-index: 10;
    overflow-y: scroll;
}

.contactLetter{
    padding-left: 32px;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;   
}
.contactLetterDivider{
    width: 80%;
}
.contactListItem{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 32px;
    margin-left: 32px; 
    margin-right: 32px; 
    padding: 12px;
    border-radius: 12px;

}
.contactListItem:hover{
    background-color: rgba(211, 211, 211, 0.3);
}
.contactIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    width: 32px;
    height: 32px;
    background-color: green; 
    border-radius: 50%;
    color: white;
}
.contactName{
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
}
.contactEmail{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    color: #007CEE;
}

/* *********** CONTACT DETAIL *********** */
#contactDetail{
    display: flex;
    flex-direction: column;
    background-color: #F6F7F8;
    flex-grow: 1;
    position: sticky;
    top: 0;
    right: 0;
}
/*HEADER */
.contactDetailHeader{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 32px;
    margin-left: 48px;
}
.contactDetailHeader h1{
    font-style: normal;
    font-weight: 700;
    font-size: 61px;
}
.contactDetailHeader h3{
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 120%;
}
.contactDetailHeader span{
  
    width: 0px;
    height: 59px;
    border: 3px solid #29ABE2;
}
.contactDetailsIcon{
    background-color: #007CEE;
    width: 120px;
    height: 120px;
    font-size: 47px;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contactDetailsName{
    margin-left: 48px; 
    display: flex;
    justify-content: flex-start;
    gap: 48px; 
    align-items: center;
    flex-direction: row;
}
.contactDetailsName h3{

    font-size: 47px;
    font-weight: 500;
    line-height: 56px;
    letter-spacing: 0em;
    text-align: left;

}

.contactDetailsName a{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    gap: 12px;
    margin-top: 24px;
}

.contactDetailsNamePlusIcon{
    height: 24px;
}
.contactDetailsNamePlusText{
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #29ABE2;
    text-align: center;
}
.contactDetailsConatctInfos{
    margin-left: 48px; 
    display: flex;
    gap:24px;
    margin-top: 48px;
    margin-bottom: 12px;
}
.contactDetailsConatctInfosEdit{
    display: flex;
    gap:12px;
    align-items: center;
}
.contactDetailsConatctInfosEdit:hover{
   color: #29ABE2;
   cursor: pointer;
   font-weight: 800;
}

.contactDetailsConatctMailTel{
    margin-left: 48px; 
    display: flex;
    flex-direction: column;
    gap:24px;
    margin-top: 48px;
    margin-bottom: 12px;
}










.newContactBtn{
    position: absolute;
    bottom: 32px;
    right: 32px;
}
.newContactBtn button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #2A3647;
    border: 1px solid #2A3647;
    border-radius: 10px;
    gap: 12px;
    padding: 12px;
}
.newContactBtn button:hover{
   background-color: #29ABE2;
   border: 1px solid #29ABE2;
   cursor: pointer;
}
.newContactBtn h2{
   font-size: 21px;
   font-weight: 700;
   margin: 0;
}
.openContact{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(211, 211, 211, 0.5);
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactOverlay{
    position: absolute;
    height: 60vh;
    width: 80vw;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}
.contactOverlay h1{
    font-size: 61px;
    font-weight: 700;
    color: white;
    margin: 0px;
}
.contactOverlay h2{
    font-size: 27px;
    font-weight: 400;
    color: white;
    margin: 0px;
}
.contactOverlaySideBar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    background-color: #2A3647;
    width: 400px; 
    padding-left: 30px;
}
.contactOverlaySideBar img{
  width: 50px;
}
.contactOverlayContent{
    background-color: white;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.blueStyleElem{
    height: 1px;
    width: 100px;
    background-color: #29ABE2;
}
.contactOverlayContentView{
    margin-left: 80px;
    margin-right: 80px;
}

.contactOverlayContentClose{
    position: absolute;
    top: 30px;
    right: 30px;
    width: 12px;
}
.contactOverlayContentIcon{
    width: 100px;
    height: 100px;
    overflow: visible;
    padding: 20px;
    background-color: #D1D1D1;
    border-radius: 50%;
    object-fit: scale-down;
}
.contactOverlayContentMain{
    display: flex;
    flex-direction: row;
    gap:48px;
    align-items: center;
}
.contactOverlayContentInputs{
    display: flex;
    flex-direction: column;
    gap:48px;
    width: 100%;
}
.contactOverlayContentInputs input{
    /*width: 100%;*/
    height: 50px;
    line-height: 50px;
    border-radius: 15px;
    font-size: 21px;
    padding-left: 24px;
    padding-right: 24px;
    border: 1px solid #D1D1D1;
}
.backgroundName{
    background: url("../img/profile-icon.png") no-repeat;
    background-position: right 15px top 15px;
}
.backgroundMail{
    background: url("../img/mail-icon.png") no-repeat;
    background-position: right 15px top 15px;
}
.backgroundTel{
    background: url("../img/phone-icon.png") no-repeat;
    background-position: right 15px top 15px;
}
.contactOverlayContentInputs input::placeholder{
   font-size: 21px;
   padding-left: 0px;
   color: #D1D1D1;
   line-height: 50px;
}
.contactOverlayButtons{
    margin-top: 48px;
    gap:48px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.contactOverlayButtons button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid #2A3647;
    border-radius: 10px;
    gap: 12px;
    padding: 12px;
}
.buttonWhite{
    background-color: white;
    color:#2A3647
}
.buttonBlue{
    color: white;
    background-color: #2A3647;
}